<p id="notice"><%= notice %></p>

<h1>Listagem de Produtos</h1>

<%= link_to 'Remover todos selecionados', destroy_selected_products_path, :method => "delete", remote: true, id:"delete_links" %>
<%= link_to "Ativar todos selecionados", ativate_selected_products_path, :method => "post", remote: true, id:"active_links" %>
<%= link_to "Desativar todos selecionados", deactivate_selected_products_path, :method => "post", remote: true, id:"deactive_links" %>

<%= render 'filter' %>

<hr>

<%= link_to "Novo Produto", new_product_path %>

<%= form_tag :id => "form_id", :remote => true do %>
  <div id="product_list"><%= render "products", products: @products %> </div>
<% end %>

<script type="text/javascript">

  $(function() {
    return $("#delete_links").click(function() {

      var cboxes, product_ids, len;
      
      product_ids = [];
      cboxes = document.getElementsByName('products_id[]');        
      len = cboxes.length;

      for (var i=0; i<len; i++) { 
        if ( cboxes[i].checked == true ) {
          product_ids.push(cboxes[i].value);
        };
      };

      return $.ajax({
        type: "POST",
        url: "/destroy_selected",
        data: "product_ids=" + product_ids,
        success: function(data) {
          alert('Destroy Selected \n' );
        }
      }
    );
  });
});
</script>

<script type="text/javascript">

  $(function() {
    return $("#active_links").click(function() {

      var cboxes, product_ids, len;
      
      product_ids = [];
      cboxes = document.getElementsByName('products_id[]');        
      len = cboxes.length;

      for (var i=0; i<len; i++) { 
        if ( cboxes[i].checked == true ) {
          product_ids.push(cboxes[i].value);
        };
      };

      return $.ajax({
        type: "POST",
        url: "/ativate_selected",
        data: "product_ids=" + product_ids,
        success: function(data) {
          // alert('Update Selected \n' );
        }
      }
    );
  });
});

</script>

<script type="text/javascript">

  $(function() {
    return $("#deactive_links").click(function() {

      var cboxes, product_ids, len;
      
      product_ids = [];
      cboxes = document.getElementsByName('products_id[]');        
      len = cboxes.length;

      for (var i=0; i<len; i++) { 
        if ( cboxes[i].checked == true ) {
          product_ids.push(cboxes[i].value);
        };
      };

      return $.ajax({
        type: "POST",
        url: "/deactivate_selected",
        data: "product_ids=" + product_ids,
        success: function(data) {
          // alert('Update Selected \n' );
        }
      }
    );
  });
});

</script>